body{
    margin: 20px;
}

#box{
    width: 100px;
    height: 100px;
    background-image: url(../img/ProfileImg.png);
    background-position: center;
    background-size: cover;
    border: 1px solid lightgray;
    border-radius: 14px;
    position: relative;
    overflow: hidden;

    transition: width 1s;
}