%flexStyle{
    display : flex;
    justify-content : center;
    align-items : center;
}

%chlidStyle{
    border-right: 1px solid black ;
    border-bottom: 1px solid black ;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0px;
    @extend flexStyle;
}

.layout{
    width: 150px;
    height: 170px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "section aside"
    "article aside"
    "footer footer";
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.layout *{
    @extend %chlidStyle;
    @extend %flexStyle;
}
header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

section{
    grid-area: section;
}

article{
    grid-area: article;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

// header{
//     grid-area: header;
//     @extend %chlidStyle;
//     @extend %flexStyle;
// }

// nav{
//     grid-area: nav;
//     @extend %chlidStyle;
//     @extend %flexStyle;
// }

// section{
//     grid-area: section;
//     @extend %chlidStyle;
//     @extend %flexStyle;
// }

// article{
//     grid-area: article;
//     @extend %chlidStyle; 
//     @extend %flexStyle;
// }

// aside{
//     grid-area: aside;
//     @extend %chlidStyle;
//     @extend %flexStyle;
// }

// footer{
//     grid-area: footer;
//     @extend %chlidStyle;
//     @extend %flexStyle;
// }